
$black:#000;
$bg-logo:#18181B ;
$color-bordes: #09090b;
$color-pt: #fff;
$color-letra: #17FD03;
$bg-gris: #222225;
$negrita: #09090b;

$padding-text-cosatados:10px;

$FZ-VW: 
0.8vw,
1.5vw,
2VW,
2.5vw,
3vw,
8vw,
12vw,
7.9vw,
7.8vw,
15px;


