.hamburgesa{
    position: relative;
    display: none;
    bottom: 0;
    z-index: +1;
    @include breakpoint(sm){
      display: block;
    }
    &__fondo{
      background-color: $bg-logo;
      display: flex;
      justify-content: center;
        &__boton{
          border: none;
          padding: 0.25rem 0.75rem;
          font-size: 1.25rem;
          line-height: 1;
          background-color: transparent;
          border-radius: 0.25rem;
          &:focus{
            outline: none;
          }
        }
    }
    &__nav{
      align-items: center;
      @include breakpoint(sm){
      width: 100%;
      align-items: center;
    }
    &__li{
      border: 1px solid $color-bordes;
      width: 100%;
      &__a{
        padding: 10px;
        color: $color-letra;
        justify-content: center;
        @include breakpoint(sm){
          display: flex;
          width: 100%;
        }
        &:hover{
          color: $color-pt;
        }
      }
    }
    }
  }